$main-width: 1200px;
$font: "Droid Sans", sans-serif;

body {
    width: $main-width;
    font-family: $font;
    margin: 0px auto;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

    .service {
        .services-heading {
            text-align: center;
            background-color: #24cf5f;
            color: white;
            padding: 15px;
        }

        .services-info {
            text-align: center;

            p {
                margin-bottom: 60px;
                margin: 0 0 10px;
            }
        }

        .services-items {
            display: flex;
            text-align: center;

            .services-items-details {
                h2 {
                    font-size: 30px;
                    font-weight: 700;
                }

                i {
                    font-size: 52px;
                    line-height: 120px;
                    text-align: center;
                    color: #24cf5f;
                }

                p {
                    padding: 0 17px 17px;
                    color: #919191;
                    margin: 0 0 10px;
                    text-align: center;
                }

                button {
                    margin: 10px 0 20px;
                    padding: 12px 35px;
                    color: #fff;
                    border-radius: 40px;
                    background: #24cf5f;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    border: 1px solid transparent;
                    cursor: pointer;
                }

                button:hover {
                    opacity: 0.3;
                }
            }
        }

        @keyframes bg {
            0% {
                background-size: 0 3px, 3px 0, 0 3px, 3px 0;
            }

            25% {
                background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
            }

            50% {
                background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
            }

            75% {
                background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
            }

            100% {
                background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
            }
        }

        .services-items-details:hover {
            background-repeat: no-repeat;
            background-image: linear-gradient(to right, #24cf5f 100%, #24cf5f 100%), linear-gradient(to bottom, #24cf5f 100%, #24cf5f 100%), linear-gradient(to right, #24cf5f 100%, #24cf5f 100%), linear-gradient(to bottom, #24cf5f 100%, #24cf5f 100%);
            background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
            background-position: 0 0, 100% 0, 100% 100%, 0 100%;
            animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
        }
    }
}
