$main-width:1200px;
$font:Muli,sans-serif;
body{
    margin:0px auto;
    box-sizing:border-box;
    .container{
        width:$main-width;
        font-family:$font;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .demo{
            margin-top:60px;
        }
        .demo-title{
            background-color: #e12573;
            color:white;
            font-size: 18px;
            margin: 0;
            padding: 13px 15px;
            text-align: center;
        }
        .demo-info{
            text-align:Center;
            h2{
                font-family: 'Droid Sans',sans-serif;
                font-weight: 700;
                font-size: 30px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 60px;
                margin: 0 0 10px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #333;
            }
            .services{
                display:flex;
               
            }
        }
    }

}